*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,100;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=Roboto+Slab:wght@100;200;300;400&family=Ysabeau+Infant:wght@300;400;500;600;700&display=swap');

body{
    
    font-family: 'Ysabeau Infant', sans-serif !important;
}
.navv1:hover{
    color: rgba(5, 176, 5, 0.596) !important;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.pp {
    font-size: larger;
}

.dde{
    background-color: rgba(254, 232, 183, 0.682);
     width: fit-content;
    border-radius: 15px;
 }

 .foott {
    background-color: #3f1775;
}